<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="chassis_to_lidar"
        args="-0.083333333 0 0.30 0 0 0 chassis lidar_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="chassis_to_camera"
        args="0.175 0 0.30833333 0 0 0 chassis camera_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical"
        args="0 0 0 -1.57079632679 0 -1.57079632679 camera_link camera_optical_frame" />
</launch>
