<?xml version="1.0" ?>
<model>
  <name>competition_ground</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>competition</name>
    <email>competition@example.com</email>
  </author>

  <description>
    比赛场地：6m x 6m 地板 + 四面围墙（北/南/东/西）
  </description>
</model>
